<div class="container">
  <main-nav>
    <data-table></data-table>
    <h1>Angular Material Exercise</h1>
    <hr>
    <div class="mat-icon-demo">
        <mat-icon>home</mat-icon>
        <mat-icon>build</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>thumb_down</mat-icon>
        <mat-icon>face</mat-icon>
        <mat-icon>alarm_on</mat-icon>
        <mat-icon>alarm_off</mat-icon>
        <mat-icon>accessibility</mat-icon>
        <mat-icon>camera_enhance</mat-icon>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>card_giftcard</mat-icon>
        <mat-icon>check_circle</mat-icon>
        <mat-icon>book</mat-icon>
        <mat-icon>bookmark</mat-icon>
        <mat-icon>assignment_ind</mat-icon>
        <mat-icon>assignment_late</mat-icon>
        <mat-icon>assignment_return</mat-icon>
        <mat-icon>lock_outline</mat-icon>
        <mat-icon>history</mat-icon>
        <mat-icon>g_translate</mat-icon>
        <mat-icon>lock</mat-icon>
        <mat-icon>motorcycle</mat-icon>
        <mat-icon>note_add</mat-icon>
        <mat-icon>find_replace</mat-icon>
        <mat-icon>feedback</mat-icon>
        <mat-icon>group_work</mat-icon>
        <mat-icon>help</mat-icon>
        <mat-icon>gif</mat-icon>
        <mat-icon>highlight_off</mat-icon>
        <mat-icon>help_outline</mat-icon>
        <mat-icon>important_devices</mat-icon>
        <mat-icon>http</mat-icon>
        <mat-icon>hourglass_empty</mat-icon>
        <mat-icon>hourglass_full</mat-icon>
    </div>
    
    <hr>
    <h2>Angular Material: Button</h2>
    <button mat-button color="primary">Click Me</button> &nbsp;
    <button mat-raised-button color="accent">Click Me</button>&nbsp;
    
    <br>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </main-nav>

  
</div>

